.main-container {
  margin: 8% auto;
  width: 80%;
  box-sizing: border-box;
}

.main-container .btn-container {
  display: inline-block;
  padding: auto;
  margin-top: 8rem;
  padding-bottom: 5rem;
  /* border: solid gold 5px; */
  width: 50%;
  height: 60%;
  vertical-align: middle;
}

.btn-container > .btn1 {
  display: block;
  margin: auto;
  height: 6rem;
  margin-bottom: 5rem;
  padding: 1.5rem auto;
  border-radius: 20px;
  border: black solid 2px;
  box-shadow: #fea91e 1px 1px 30px inset;
  background-color: black;
  color: white;
  font-size: 2.1rem;
  width: 25rem;
  cursor: pointer;
}

.btn-container > .btn2 {
  display: block;
  margin: auto;
  height: 6rem;
  padding: 1.5rem auto;
  border-radius: 20px;
  border: black solid 2px;
  box-shadow: #fea91e 1px 1px 30px inset;
  background-color: black;
  color: white;
  font-size: 35px;
  width: 25rem;
  cursor: pointer;
}

.btn-container .btn-selected{
    border: gold solid 2px;
}

.main-container .btn-container button img {
  height: 70%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 2rem;
}

