.toolbar-container{
    width: 90%;
    background-color: black;
    margin: 5rem auto 1rem auto;
    text-align: center;
    border:gold solid 3px
}

.toolbar-container h3{
    color: gold;
}

.toolbar-container button{
    padding: .5rem 1rem;
    border-radius: 10px;
    background-color: gold;
}

.main-container{
    width: 90%;
    color: gold;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    /* border:gold solid 3px */
}

.display-box{
    border:gold solid 3px;
    width:40%;
    margin-top: 2rem;
    text-align: center;
    height: 20rem;
}